config: {}

{% include 'SHARED/networks.yml.j2' %}

{% include 'SHARED/profiles.yml.j2' %}

projects: []

cluster:
  enabled: true
  server_name: {{input_host.name}}
  server_address: {{input_host.ipv4}}:{{input_host.port}}
  cluster_token: {{fact_lxd_role_gen_cluster_token}}
