storage_pools:
{% for storage_pool_item in applied_lxd_role_config.storage_pools %}
{% if storage_pool_item.driver is defined and storage_pool_item.driver == 'role_dir' %}
- config:
    source: {{applied_lxd_role_config.role_dir}}/pools/dir/{{storage_pool_item.name}}
  description: "Ansible-Configured storage pool for lxd"
  name: {{storage_pool_item.name}}
  driver: dir
{% elif storage_pool_item.driver is defined and storage_pool_item.driver == 'role_btrfs' %}
- config:
    source: {{applied_lxd_role_config.role_dir}}/mounts/btrfs/{{storage_pool_item.name}}
  description: "Ansible-Configured storage pool for lxd"
  name: {{storage_pool_item.name}}
  driver: btrfs
{% elif storage_pool_item.driver is defined and storage_pool_item.driver == 'role_zfs' %}
- config:
    source: {{storage_pool_item.name}}/fsmain
  description: "Ansible-Configured storage pool for lxd"
  name: {{storage_pool_item.name}}
  driver: zfs
{% else %}
- {{storage_pool_item }}
{% endif %}
{% endfor %}